<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>MEMETUBE</h1>
	<a href="/meme/new">Add a video</a>
	<%= yield %>
</body>
</html>