<h1>NEW MEME</h1>

<form action="/meme" method="POST">

<label for="title">Title: </label>
<textarea type="text" name="title" placeholder="Meme Title"></textarea>

<label for="description"></label>
<textarea name="description" placeholder="Meme description"></textarea>

<label for="url"></label>
<textarea name="url" placeholder="Meme url"></textarea>

<label for="genre"></label>
<textarea name="genre" placeholder="Meme genre"></textarea>

<input type="submit" value="Save">

</form>